*{
margin: 0;
padding:0;
}
.todo__wraper{
    width:350px;
}
.wrapper{
    width:78vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    background-color:whitesmoke;
}
.wrapper__header {
    font-size: 40px;
    text-align:center;
    margin-top: 20px;
    color:palevioletred;
}
/* .searchbar{
  width:50%; 
} */
/* .searchbar{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    
}
form.example input[type=text] {
    padding: 10px;
    font-size: 30px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    background:white;
    align-items: center;
    justify-content: center;
    font-style: italic;
    
  } */