*{
    margin:0;
    padding: 0;
}
/* .searchbar{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    

justify-content: center; 
align-items: center;   
 margin-left: 8%; 
  
} */
form.example input[type=text] {
    padding: 10px 0px;
    font-size: 30px;
    border: 1px solid grey;
    float: left;
    width:350px;
    background:white;
    align-items: center;
    justify-content: center;
    font-style: italic;
    /* font-size: medium; */
    /* text-align: center; */
  }